DOCKERHUB_NAMESPACE=zynalex9
APP_TAG=latest

DB_USER=postgres
DB_PASSWORD=change-this-db-password
DB_NAME=ethical_ai

REDIS_PASSWORD=change-this-redis-password
JWT_SECRET_KEY=change-this-jwt-secret

CORS_ORIGINS=["http://localhost","http://localhost:80","http://127.0.0.1","http://127.0.0.1:80"]